.display {
	background-image: -webkit-linear-gradient(#2B81C0, #BEDCEF);
	background-image: -moz-linear-gradient(#2B81C0, #BEDCEF);
	background-image: -ms-linear-gradient(#2B81C0, #BEDCEF);
	background-image: -o-linear-gradient(#2B81C0, #BEDCEF);
	background-image: linear-gradient(#2B81C0, #BEDCEF);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2) inset;
}